<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixar Áudio do YouTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Baixar Áudio do YouTube</h1>
        <form action="/baixar" method="POST">
            <label for="url">Insira a URL do vídeo do YouTube:</label>
            <input type="text" id="url" name="url" required>
            <button type="submit">Baixar Áudio</button>
        </form>
        <p id="status"></p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
